<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.lucy.hms.service.testMapper">

	<resultmap id="testMap" type="com.lucy.hms.vo.testVO">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="phoneNumber" column="phoneNumber" />
	</resultmap>


	<select id="getUserInfo" resultMap="testMap">
		SELECT
			ID,
			Name,
			PhoneNumber
		FROM UserInfo
	</select>

</mapper>